#menu {
	text-align: left;
	font-size: 1.5em;
	width: 540px;
	margin: 20px auto;
    color: white;
    margin: 3%;
	padding: 0px; 
	outline: 0;
}

#menu ul {
	list-style-type: none;
}

#menu ul li {
	width: 162px;
    opacity: .95;
}

.opcion_inicio {
    color: #FFFFFF;
    text-decoration: none;
}

#menu a img {
    width: 40px;
    height: 40px;
    margin-left: 30%;
}

#menu ul li a:not(.opcion_inicio) {
	display: block;
	text-decoration: none;
	color: rgb(15, 15, 59);
	background-color: rgb(255, 255, 255);
	border: solid 1px #fff;
	padding: 8px;
	position: relative;
    font-size: .5em;
}

#menu ul li ul li a:not(.opcion_inicio) {
	width: 160px;
	padding: 8px 0px;
	border-top-color: transparent;
}

#menu ul li ul {
	display: none;
}

/* PROPIEDADES ESPECÍFICAS */

#menu ul li ul li ul li a.primera {
	border-top-color: #fff;
}

#menu ul li.nivel1 { 
	float: left;
	margin-right: 1px;
}

#menu ul li a.nivel2 {
	color: #000;
}

#menu ul li a.nivel1, #menu ul li a.nivel2 {
	display: block;
	position: relative;
}

/* PROPIEDAD HOVER */

#menu ul li:hover {
	position: relative;
    z-index: 100;
}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
	background-color: #fff;
	color: #000;
	position: relative;
}

#menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{
	display: block;
	position: absolute;left: 0px;
}

#menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
	display: block;
	position: absolute;
	left: 161px;
	top:0px;
}

#menu ul li ul li a:hover {
	border-top-color: #000;
	position: relative;
}